body{
    background: lightgray;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
}

.post{
    width: 500px;
    background: white;
    margin: auto;
}

.post-header{
    display:flex;
}

.post-header i {
    font-size: 30px;
    margin-top:10px;
    margin-left:10px;
    margin-right:2px;
    width: 40px;
}
.post-header p {
    padding: 0px;
    margin:0px;
    width: 400px;
}
.post-header h3 {
    padding: 1px;
    margin:0px;
}


.post-img{
    width: 100%;
}

.post-body{
    width: 98%;
    margin: 1px;
    padding: 5px;
}
.post-icons{
    display:flex;
}

.post-icons i {
    font-size: 30px;
    margin:1px;
    width: 50px;
}

.post-icons .izquierda {
     width: 10%;
}
.post-icons .centro {
    width: 60%;
}
.post-icons .derecha {
    width: 10%;
}
